.beat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.beat h1 {
  margin: 0;
  margin-right: 10px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.beat-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: baseline;
}

.beat-step {
  height: 15px;
  width: 35px;
  margin-right: 10px;
  border: 3px solid;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  /* animation: lightUp infinite 2s ease-out; */
}

.beat-step-disabled {
  height: 15px;
  width: 35px;
  margin-right: 10px;
  border: 3px solid #cdcdcd;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.beat-step-disabled.dark {
  border: 3px solid #2a2a2a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}