.flicker {
  animation: 1.5s ease-in-out lightUp;
}

.flicker-dark {
  animation: 1.5s ease-in-out lightUpDark;
}

@keyframes lightUp {
  0% {
    background-color: #000;
  }
  35% {
    background-color: #eef0f2;
  }
  100% {
    background-color: #eef0f2;
  }
}

@keyframes lightUpDark {
  0% {
    background-color: #eef0f2;
  }
  45% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}
