.playback {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 10px solid #000;
  color: #000;
  font-weight: bold;
  font-size: 80px;
  background-color: #eef0f2;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease 0s;
}

.playback svg {
  width: 40%;
  margin: 0 auto;
  display: block;
}

button:hover {
  /* background-color: #2EE59D; */
  background-color: #d7d9db;
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
  box-shadow: 0px 15px 20px rgba(97, 98, 98, 0.4);
  color: #000;
  transform: translateY(-7px);
}

.playback.dark {
  border: 10px solid #eef0f2;
  fill: #eef0f2;
  background-color: #121212;  
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}