button {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid #000;
    color: #000;
    font-weight: bold;
    font-size: 80px;
    background-color: #EEF0F2;  
    /* #282c34; */
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

button:hover {
    /* background-color: #2EE59D; */
    background-color: #d7d9db;
    /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
    box-shadow: 0px 15px 20px rgba(97, 98, 98, 0.4);
    color: #000;
    transform: translateY(-7px);
  }