.dropdown-content {
  position: relative;
  min-width: 350px;
  z-index: 1;
  margin-right: 15px;
}

.dropdown-content input {
  font-size: 16px;
  min-width: 350px;
  padding: 8px 15px 6px 15px;
  background-color: #f6f6f6;
  border: 1px solid #cecece;
  border-radius: 25px;
}

/* .dropdown-content input:focus + .search-options {
  opacity: 0;
} */

.search-options {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.search-options div {
  background-color: #f6f6f6;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.search-options div:hover {
  background-color: #ddd;
}

.active-dropdown {
  opacity: 1;
  pointer-events: initial;
}