.Page {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
  background-color: #eef0f2;
  min-height: 100vh;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 20px 15px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  margin-top: 5%;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-content {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.Page.Dark {
  background-color: #121212;
}

.App.Dark {
  color: #eef0f2;
}