.Page {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
  background-color: #eef0f2;
  min-height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 15px;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 20px;
  padding-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  margin-top: 5%;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App-content {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.Page.Dark {
  background-color: #121212;
}

.App.Dark {
  color: #eef0f2;
}

.empty-container{
  width: 71.5px;
}